/*--------------------------------------- General Styles ---------------------------------------*/
@font-face {
    font-family: Figtree;
    src: url("../fonts/Figtree-VariableFont_wght.ttf");
}
@font-face {
    font-family: Figtree-Italic;
    src: url("../fonts/Figtree-Italic-VariableFont_wght.ttf");
}
@font-face {
    font-family: Figtree-SemiBold;
    src: url("../fonts/Figtree-SemiBold.ttf");
}
@font-face {
    font-family: Figtree-ExtraBold;
    src: url("../fonts/Figtree-ExtraBold.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/

/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;
    background-color: aqua;
    font-family: Figtree;
}
/*--------------------------------------- Footer Styles ---------------------------------------*/

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- Media Queries ---------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*------------------------------------------- 768px -------------------------------------------*/
@media screen and (min-width: 768px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1440px -------------------------------------------*/
@media screen and (min-width: 1440px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
