/*--------------------------------------- General Styles ---------------------------------------*/
@font-face {
    font-family: Figtree;
    src: url("../fonts/Figtree-VariableFont_wght.ttf");
}
@font-face {
    font-family: Figtree-Italic;
    src: url("../fonts/Figtree-Italic-VariableFont_wght.ttf");
}
@font-face {
    font-family: Figtree-SemiBold;
    src: url("../fonts/Figtree-SemiBold.ttf");
}
@font-face {
    font-family: Figtree-ExtraBold;
    src: url("../fonts/Figtree-ExtraBold.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/

/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;
    background-color: aqua;
    font-family: Figtree;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5cf4e;
}
main > .row {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    -webkit-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}
main > .row > .col {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}
main > .row > .col > .img-col > img {
    object-fit: contain;
    border-radius: 10px;
}
.button-col>.btn{
    margin-top: 20px;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #f5cf4e;
    color: black;
    text-decoration: none;
    font-family: Figtree-ExtraBold;
    font-size: 15px;
}
.date-col>p{
    margin-top: 10px;
    font-family: Figtree-SemiBold;
}
.title-col>h4{
    font-family: Figtree-ExtraBold;
}
.title-col>h4:hover{
    color: #f5cf4e;
    cursor: pointer;
}
.description-col>p{
    margin-top: 10px;
    font-family: Figtree;
    font-weight: 500;
    color:rgb(116, 116, 116)
}
.author-col{
    display: flex;
    align-items: start;
    justify-items: center;       
}
.author-col>img{
    width: 30px;
    height: 30px;
}
.author-col>p{
    font-family: Figtree-ExtraBold;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}
/*--------------------------------------- Footer Styles ---------------------------------------*/

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- Media Queries ---------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*------------------------------------------- 768px -------------------------------------------*/
@media screen and (min-width: 768px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1440px -------------------------------------------*/
@media screen and (min-width: 1440px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
